body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0; 
    padding: 0; 
    background-color: #000; 
}

#canvas {
    display: block; 
    margin: 0 auto; 
    background-color: skyblue; 
    background-image: url("./doomBG.png"); 
    background-size: cover; 
    background-position: center; 
}